<?xml version="1.0" encoding=" UTF-8" ?> 
<manifest
xmlns:android="http://schemas.android.com/apk/res/android"
android:versionCode="1“
android:versionName="1.0“
android:installLocation="auto"
package=" mastermind.splodge97.edu.mit.scratch ">
<uses-sdk  
 android:targetSdkVersion="27" 
 android:minSdkVersion ="14"/>
</uses-permission>
</manifest>
